<div id="root"></div>
<div id="add-to-cart-button"></div>
<div id="counter"></div>
<p>framework</p>
<script src="{{ 'vite-counter.js' | asset_url }}" defer></script>
<script src="{{ 'vite-add-to-cart-button.js' | asset_url }}" defer></script>
