<<<<<<< HEAD
<p>framework</p>
<script src="{{ 'vite-counter.js' | asset_url }}" defer></script>
=======
<p>framework</p>
<script src="{{ 'vite-counter.js' | asset_url }}" defer></script>
>>>>>>> a857ec2a4328f54737a869ba92531bea32bcd7aa
