{%  assign myString="1234" %}
{{ myString }}

{% assign myNumber=123.45 %}
{{ myNumber}}
<br>

{% assign myBoolean=true %}
{{ myBoolean }}
<br>
{% assign myNil=null %}
{{ myNil }}
{% if undefinedVariable==null %}
    <p style="color:red; font-size:30px;">TEST ✅</p>
{% endif %}